* {
  padding: 0%;
  margin: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
}
#header {
  width: 100%;
  height: 13%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100%;
}
#logo {
  height: 70%;
}

#logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#fakeheader {
  width: 100vw;
  height: 13vh;
  background-color: rgb(255, 255, 255);
}
.texts {
  color: rgb(46, 46, 231);
}
.texts:hover {
  color: rgb(41, 191, 241);
}

#contactdetails {
  font-weight: lighter;
}
.icon {
  padding: 10px;
  border-radius: 50%;
}
.icon:hover {
  background-color: lightblue;
}
#login {
  display: flex;
  border-radius: 50px;
  padding: 10px;
}
#login:hover {
  background-color: lightblue;
}
#try {
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 10px 20px;
}
#try:hover {
  background-color: darkgreen;
}
#page1 {
  height: 87%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
#strip {
  height: 8vh;
  width: 100vw;
  background-color: lightblue;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
#strip u {
  margin-left: 20px;
  font-weight: lighter;
}
#content {
  width: 100%;
  height: 76%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#box1 {
  height: 90%;
  width: 47%;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}
#box2 {
  height: 90%;
  width: 47%;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}
#box2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#heading {
  width: 100%;
  height: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 132);
  background-color: rgb(255, 255, 255);
}
#heading h1 {
  font-weight: 550;
}
#box1 h1 {
  color: rgb(0, 0, 80);
  font-size: 50px;
  font-weight: 549;
  margin: 20px 10px;
}
#box1 p {
  font-size: x-large;
  margin: 20px 10px;
  font-weight: lighter;
}
#btns {
  display: flex;
}
#btn1 {
  padding: 10px 20px;
  color: white;
  background-color: rgb(52, 202, 252);
  width: 23%;
  margin: 10px;
  border-radius: 5px;
}
#btn2 {
  padding: 10px 20px;
  color: rgb(52, 202, 252);
  border: 1px solid rgb(52, 202, 252);
  width: 23%;
  margin: 10px;
  border-radius: 5px;
}
#btn1:hover {
  background-color: rgb(12, 82, 106);
}
#btn2:hover {
  background-color: rgb(160, 228, 251);
  color: rgb(29, 145, 187);
  border-color: rgb(29, 145, 187);
}

